<form class="spec" role="form">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="url">URL *</label>
        <input type="url" class="form-control trigger-update" id="url" value="{{feed.url}}">
      </div>
    </div>
    {{#if feed._id}}
    {{else}}
      <div class="col-md-4">
        <div class="form-group">
          <label for="sample">Sample feeds</label>
          <select class="form-control" id="sample">
            {{#each samples}}
              <option {{{selected @key ../defaultSampleKey}}} value="{{@key}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="item-selector">Item selector *</label>
        <input type="text" class="form-control trigger-update" id="item-selector" value="{{feed.item_selector}}">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="title-selector">Title selector *</label>
        <input type="text" class="form-control trigger-update" id="title-selector" value="{{feed.title_selector}}">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="target-selector">Target URL selector *</label>
        <input type="text" class="form-control trigger-update" id="target-selector" value="{{feed.target_selector}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="author-selector">Author selector</label>
        <input type="text" class="form-control trigger-update" id="author-selector" value="{{feed.author_selector}}">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="image-selector">Image URL selector</label>
        <input type="text" class="form-control trigger-update" id="image-selector" value="{{feed.image_selector}}">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="content-selector">Content selector</label>
        <input type="text" class="form-control trigger-update" id="content-selector" value="{{feed.content_selector}}">
      </div>
    </div>
  </div>
</form>