{{#items}}
  <div class="item">
    {{#if title}}
      <h3>{{title}}</h3>
    {{else}}
      <h3><em>(no title)</em></h3>
    {{/if}}

    <p><a href="{{target}}" target="_blank">{{target}}</a></p>

    {{#if author}}
      <p><strong>{{author}}</strong></p>
    {{else}}
      <p><em>(no author)</em></p>
    {{/if}}

    {{#if image}}
      <p><img src="{{image}}" alt="{{title}}" /></p>
    {{else}}
      <p><em>(no image)</em></p>
    {{/if}}

    {{#if content}}
      <div class="content">{{{content}}}</div>
    {{else}}
      <p><em>(no content)</em></p>
    {{/if}}

  </div>
{{else}}
  <div class="item">
    <p>No items detected. Either the provided URL cannot be read or the items selector does not match any HTML elements on the page.
  </div>
{{/items}}
